.project-post{
    margin-top: 1.7rem;
    &__header{
        padding-top: 2rem;
    }
    &__featured-image{
        width: 100%;
        margin-bottom: 2rem;
    }
}

.blog-collection-wrapper {
    display: grid;
    row-gap: 1.5rem;
    &__btn {
        display: flex;
        justify-content: center;
        text-decoration: none;
    }
    &__title {
        color: $dark;
        font-size: 1.25rem;
    }
}

@media screen and (min-width: map-get($break-point, 'md')) {
    .blog-collection-wrapper {
        grid-template-columns: repeat(3, 1fr);
        gap: 1.5rem;
    }
}

@media screen and (min-width: map-get($break-point, 'lg')) {
    .project-post{
        margin-top: 2.75rem;
        display: grid;
        grid-template-columns: 6.75fr 3.5fr;
        column-gap: 5.5rem;
        &__aside {
            position: sticky;
            top: 2rem;
        }
    }
}