.container, .blog-container {
    margin: 0 auto;
    padding: 0 1.85rem;
    max-width: 30rem;
}

.row-section-separator {
    margin-top: 2.5rem;
    margin-bottom: 2.5rem;
}

@media screen and (min-width: map-get($break-point, 'md')) {
    .container, .blog-container {
        padding: 0 4.25rem;
        max-width: unset;
    }

    .row-section-separator {
        margin-top: 3.5rem;
        margin-bottom: 3.5rem;
    }
}

@media screen and (min-width: map-get($break-point, 'lg')) {
    .container {
        padding: 0 5rem;
        max-width: 72rem;
    }

    .blog-container {
        padding: 0 1rem;
        max-width: 40rem;
    }

    .row-section-separator {
        margin-top: 5rem;
        margin-bottom: 5rem;
    }
}