@import 'reset';
@import 'variables';
@import 'layout';
@import 'markdown';
@import 'blog';
@import 'typography';
@import 'button';

body {
  @apply antialiased;
  @apply subpixel-antialiased;
  background-color: $content-background;
}

.main {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.page-enter-active,
.page-leave-active {
  transition: opacity 0.5s;
}
.page-enter,
.page-leave-active {
  opacity: 0;
}

.slide-left-enter,
.slide-right-leave-active {
  opacity: 0;
  transform: translate(30px, 0);
}

.slide-left-leave-active,
.slide-right-enter {
  opacity: 0;
  transform: translate(-30px, 0);
}
