@import url('https://fonts.googleapis.com/css2?family=Atkinson+Hyperlegible:ital,wght@0,400;0,700;1,400;1,700&display=swap');

body {
    * {
        font-family: 'Atkinson Hyperlegible', Arial, sans-serif;
    }
}

h1 {
    font-size: 4.45rem;
    color: $dark;
}

h2 {
    font-size: 1.6rem;
    color: $primary;
}

h3 {
    color: $dark;
    font-size: 1.21rem;
}

p, li, ul, ol {
    color: $dark-gray;
}

ul{
    margin: 0;
    padding-left: 1.5rem;
}