$primary: #6C1E25;
$secondary: #9B9B9A;
$dark: #1A1A1A;
$dark-gray: #333333;
$content-background: #FFFDF5;
$peach: #F5E4CA;

$break-point: (
    "sm": 576px,
    "md": 768px,
    "lg": 1024px,
    "xl": 1280px);